#!
##!Basics
!K = [h/j/k/l]    !D = Key_left Key_down Key_up Key_right
!K = z a        !D = Toggle fold je taime ma cherie
!K = z R        !D = Open all fold
!K = z M        !D = Close all fold

!C = /[term]    !D = Seach in document
!C = :q         !D = Quit
!C = :qa        !D = Quit all
!C = :w         !D = Save
!C = :e [path]  !D = Create File
!C = :so        !D = Reload vim
!C = :h [name]  !D = Read About option

##!Navigation
!K = gg                     !D = Go to top document
!K = G                      !D = Go to bottom of document
!K = 0                      !D = Go to first of line
!K = ^                      !D = Go to first character in line
!K = D                      !D = Delete from cursor to end of line
!K = [ctrl][shift] [j/k]    !D = Move line or block up and down

##!Comments
!K = gc                     !D = comment Selected 
!K = gc G                   !D = Comment until end of line
!K = gc 2j                  !D = Comment 2 lines down
!K = gc c                   !D = Comment line
!K = ]t                     !D = Next Todo comment
!K = [t                     !D = Prev Todo comment


#!
##!Window Management
!K = [ld] sv                !D = Split window vertical
!K = [ld] sh                !D = Split window horizontal
!K = [ld] se                !D = Make split equal size
!K = [ld] sx                !D = Close current split
!K = [ld] sm                !D = Toggle maximize split

!K = [ld] to                !D = Open New tab
!K = [ld] tx                !D = Close current tab
!K = [ld] tn                !D = Go to next tab
!K = [ld] tp                !D = Go to prev tab
!K = [ld] tf                !D = Open in new tab
!K = [ld] ws                !D = Save Session
!k = [ld] wr                !D = Restore Session

##!Explorer
!K = [ld] et                !D = Explorer Toggle
!K = [ld] ef                !D = Ping file in explorer
!K = [ld] ee                !D = Focus Navigation
!K = [ld] ec                !D = Collapse file explorer
!D = [ld] er                !D = Refresh explorer

##!Telescope
!K = [ld] ff                !D = find files
!K = [ld] fr                !D = find recent files
!K = [ld] fs                !D = find string
!K = [ld] fc                !D = find string under cursor
!K = [ld] ft                !D = find Todo
!K = [ctrl] o / i           !D = Jump in file
!K = [ctrl] j / k           !D = Move in selection
!K = [ctrl] q               !D = Send selection to quickfix list

#!
##!Trouble
!K = [ld] xw                !D = Toggle Trouble
!K = [ld] xt                !D = Todo list in trouble
!K = [ld] rf                !D = float diagnostic at cursor
!K = [ld] rl                !D = open location list
!K = [ld] rc                !D = Close location list
!K = [ld] rn                !D = Go to next diagnostic 
!K = [ld] rp                !D = Go to prev diagnostic
!K = gd                     !D = Go to definition
!K = gp                     !D = Go to references
!K = K                      !D = Show Documentation

##! Misc
!K = [ld] nh                !D = Clear Seach highlight
!K = [ld] +                 !D = Increment number
!K = [ld] -                 !D = Decreemt number
!K = qq                     !D = Start record macro. q to stop
!K = @q                     !D = Play macro
!K = @@                     !D = Repeat last macro




