#@ numColumns = 8
#@ descFontSize = 10
#@ badgeFontSize = 10
#@ badgeFlowWidth = 88
#@ descFlowWidth = 180
#@ badgeHeight = 25
#@ keybindRowSpacing = 4
#@ sectionSpacing = 24
#@ windowWidthPct = 87
#@ windowHeightPct = 94

#!
##!Basics
!K = [h/j/k/l]            !D = Key_left Key_down Key_up Key_right
!C = /[term]              !D = Seach in document
!C = :q                   !D = Quit
!C = :qa                  !D = Quit all
!C = :w                   !D = Save
!C = :so                  !D = Reload vim
!C = :h [name]            !D = Read About option

#!
##!Window Management
!K = [ld] wv              !D = Split window vertical
!K = [ld] wh              !D = Split window horizontal
!K = [ld] we              !D = Make split equal size
!K = [ld] wx              !D = Close current split
!K = [ld] wm              !D = Toggle maximize split
!K = [ld] to              !D = Open New tab
!K = [ld] tx              !D = Close current tab
!K = [ld] tn              !D = Go to next tab
!K = [ld] tp              !D = Go to prev tab
!K = [ld] tf              !D = Open in new tab

#!
##!Navigation
!K = gg                   !D = Go to top document
!K = G                    !D = Go to bottom of document
!K = 0                    !D = Go to first of line
!K = ^                    !D = Go to first character in line
!K = $                    !D = Cursor to end of line
!K = D                    !D = Delete from cursor to end of line
!K = [ctrl][shift] [j/k]  !D = Move line or block up and down
!K = [ ]                  !D = Jump Paragraph
!--
!K = w / b                !D = Next / prev word start
!K = e                    !D = Next word end
!K = W / B                !D = Next / prev WORD start (skip punctuation)
!K = E                    !D = Next WORD end
!K = H / M / L            !D = Jump to top / middle / bottom of screen
!K = [ctrl] d / u         !D = Scroll half page down / up
!K = [ctrl] f / b         !D = Scroll full page down / up
!K = zz                   !D = Center cursor on screen
!K = zt / zb              !D = Cursor to top / bottom of screen

#!
##!Find & Jump
!K = f [char]             !D = Jump to next char on line
!K = F [char]             !D = Jump to prev char on line
!K = t [char]             !D = Jump before next char on line
!K = T [char]             !D = Jump before prev char on line
!K = ; / ,                !D = Repeat last f/t forward / backward
!K = %                    !D = Jump to matching bracket or paren
!K = [ctrl] o             !D = Jump back in jump list
!K = [ctrl] i             !D = Jump forward in jump list
!K = ''                   !D = Jump to position before last jump
!K = m [a-z]              !D = Set mark at cursor
!K = ` [a-z]              !D = Jump to mark

#!
##!Telescope & Codee Nav
!K = [ld] sh              !D = Search Help
!K = [ld] sk              !D = Search Keymaps
!K = [ld] sf              !D = Search Files
!K = [ld] saf             !D = Search Hidden
!K = [ld] ss              !D = Search Select
!K = [ld] sw              !D = Search current Word
!K = [ld] sg              !D = Search Grep
!K = [ld] s/              !D = Search Grep in open buffers
!K = [ld] /               !D = Fuzzy search in current buffer
!K = [ld] sd              !D = Search Diagnostic
!K = [ld] sr              !D = Search Resume
!K = [ld] s.              !D = Search Recent
!K = [ld] sc              !D = Search Commands
!K = [ld] [ld]            !D = Search Existing buffers
!K = grr                  !D = Telescopre References
!K = gri                  !D = Goto Implementation
!K = grd                  !D = Goto Definition
!K = grt                  !D = Goto Type Definition
!K = gO                   !D = List symbols in file
!K = gW                   !D = List symbols in workspace
!K = [ld] gx              !D = Close List
!K = grn                  !D = LSP Rename
!K = gra                  !D = Code Action Fix
!K = grD                  !D = Goto Declaration

#!
##!Misc
!K = #                    !D = Find word under cusor
!K = [ld] nh              !D = Clear Seach highlight
!K = [ld] +               !D = Increment number
!K = [ld] -               !D = Decreemt number
!K = qq                   !D = Start record macro. q to stop
!K = @q                   !D = Play macro
!K = @@                   !D = Repeat last macro

#!
##!Diagnostics
!K = [ld] df              !D = Diagnostic floating
!K = [ld] dl              !D = Diagnostic list
!K = [ld] dc              !D = Diagnostic Close
!K = [ld] dn              !D = Diagnostic Next
!K = [ld] dp              !D = Diagnostic Prev
!K = gd                   !D = Go to definition
!K = gp                   !D = Go to references
!K = K                    !D = Show Documentation

#!
##!Run Debug
!K = [F1]                 !D = Debug Step Into
!K = [F2]                 !D = Debug Step Over
!K = [F3]                 !D = Debug Step Out
!K = [F6]                 !D = Overseer run
!K = [F8]                 !D = CMake Menu
!K = [F5]                 !D = Debug Start/Continue
!K = [F7]                 !D = Debug Last Session
!K = [ld] o               !D = Overseer Toggle
!K = [ld] b               !D = Toggle Breakpoint
!K = [ld] B               !D = Set Breakpoint

#!
##!Comments
!K = gc                   !D = comment Selected
!K = gc G                 !D = Comment until end of line
!K = gc 2j                !D = Comment 2 lines down
!K = gc c                 !D = Comment line
!K = ]t                   !D = Next Todo comment
!K = [t                   !D = Prev Todo comment

#!
##!Panes
!K = [pfx] |              !D = Split pane vertical
!K = [pfx] -              !D = Split pane horizontal
!K = [pfx] x              !D = Kill pane
!K = [pfx] z              !D = Toggle pane zoom
!K = [pfx] [h/j/k/l]      !D = Navigate panes
!K = [pfx] [H/J/K/L]      !D = Resize pane
!K = [pfx] o              !D = Cycle through panes
!K = [pfx] q              !D = Show pane numbers
!K = [pfx] <              !D = Swap pane left
!K = [pfx] >              !D = Swap pane right

#!
@! Tmux
##!Sessions
!C = [pfx]                !D = Ctrl+Space
!K = [pfx] $              !D = Rename session !H
!K = [pfx] d              !D = Detach session !H
!K = [pfx] l              !D = List / switch sessions
!K = [pfx] [              !D = Previous session !H
!K = [pfx] ]              !D = Next session !H

#!
##!Windows
!K = [pfx] t              !D = New window (tab)
!K = [pfx] x              !D = Kill window
!K = [pfx] n              !D = Next window !H
!K = [pfx] p              !D = Prev window !H
!K = [pfx] ,              !D = Rename window
!K = [pfx] w              !D = List windows
!K = [pfx] [0-9]          !D = Switch to window by number !H
!K = [pfx] b              !D = Bottom Terminal
!K = [pfx] -              !D = Split Horizontal
!K = [pfx] |              !D = Split Vectical
!K = [pfx] z              !D = Zoom Mazimize
!K = [pfx] r              !D = Reload config

#!
##!Copy Mode
!K = [pfx] v              !D = Enter copy mode
!K = y                    !D = Yank selection (vi mode)
!K = [space]              !D = Start selection
!K = [enter]              !D = Copy selection
!K = [pfx] P              !D = Paste buffer
!K = q                    !D = Exit copy mode

#!
##!Tmux Misc !H
!K = [pfx] :              !D = Open command prompt !H
!K = [pfx] ?              !D = List all keybindings !H
!K = [pfx] t              !D = Show clock !H

#!
@! Git
##!Diffview
!K = [ld] gd              !D = Git diff view open
!K = [ld] gh              !D = Git file history
!K = [ld] gH              !D = Git repo history
!K = [ld] gq              !D = Git diff view close

#!
##!Conflicts
!K = [ld] co              !D = Conflict choose ours
!K = [ld] ct              !D = Conflict choose theirs
!K = [ld] cb              !D = Conflict choose base
!K = [ld] ca              !D = Conflict choose all
!K = [ld] cx              !D = Conflict choose none
!K = ]x                   !D = Jump to next conflict
!K = [x                   !D = Jump to prev conflict

#!
@! CMake
##!Build & Run
!K = [ld] cg              !D = CMake Generate/Configure
!K = [ld] cb              !D = CMake Build
!K = [ld] ct              !D = CMake Select Build Target
!K = [ld] cl              !D = CMake Select Launch Target
!K = [ld] cy              !D = CMake Select Build Type
!K = [ld] cr              !D = CMake Run Launch Target
!K = [ld] cd              !D = CMake Debug Launch Target
!K = [ld] cc              !D = CMake Clean
!K = [ld] co              !D = CMake Open Console
!K = [ld] cx              !D = CMake Stop
